#map {
  margin: 0 15px;
  position: relative;
}

.map__info {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  left: 0;
  bottom: 0;
  z-index: 1;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.45);
}

.map-icons {
  color: #f14040;
  padding-right: 5px;
  opacity: 1;
}

.map__info p:first-child {
  margin-top: 0;
}

.map__info p:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1000px) {
  .map {
    flex: 50%;
  }
}
