.countdown {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 500px;
}

.counter {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  margin: 0 26px;
  justify-content: center;
}

.vl {
  border-left: 1px solid #fff;
  height: 30px;
  display: inline-block;
  margin: 40px 30px 0 30px;
}

.days {
  position: relative;
  display: inline-block;
  margin-top: 40px;
}

.days::after {
  display: block;
  position: absolute;
  content: 'days';
  font-size: 0.9rem;
  letter-spacing: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  left: 50%;
  margin-top: 10px;
  transform: translateX(-50%);
}

.hours {
  margin-top: 40px;
  position: relative;
  display: inline-block;
}
.hours::after {
  display: block;
  position: absolute;
  content: 'hours';
  font-size: 0.9rem;
  letter-spacing: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  left: 50%;
  margin-top: 10px;
  transform: translateX(-50%);
}
.minutes {
  position: relative;
  display: inline-block;
  margin-top: 40px;
}
.minutes::after {
  display: block;
  position: absolute;
  content: 'minutes';
  font-size: 0.9rem;
  letter-spacing: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  left: 50%;
  margin-top: 10px;
  transform: translateX(-50%);
}
.seconds {
  position: relative;
  display: inline-block;
  margin-top: 40px;
}

.seconds::after {
  display: block;
  position: absolute;
  content: 'seconds';
  font-size: 0.9rem;
  letter-spacing: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  left: 50%;
  margin-top: 10px;
  transform: translateX(-50%);
}

@media screen and (min-width: 1000px) {
  .countdown {
    top: 700px;
  }

  .counter {
    font-size: 2rem;
    font-weight: 500;
  }

  .vl {
    margin: 40px 50px 0 40px;
    height: 40px;
  }

  .days::after {
    font-size: 1rem;
  }

  .hours::after {
    font-size: 1rem;
  }

  .minutes::after {
    font-size: 1rem;
  }

  .seconds::after {
    font-size: 1rem;
  }
}
