.header {
  color: white;
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  top: 40px;
}

.logo {
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  letter-spacing: 20px;
}

.logo__first-part {
  padding-left: 20px; /* because of big line spacing in the logo*/
  color: white;
  font-weight: 600;
}

.logo__second-part {
  color: red;
  font-weight: 600;
}

.header-soc {
  display: flex;
  justify-content: center;
}

.header-icons {
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
  display: flex;
}

.header-icons li:not(:last-child) {
  margin-right: 10px;
}

.header-link {
  color: #fff;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  line-height: 26px;
  background: orangered;
  padding: 10px;
  display: block;
  text-align: center;
  transition: all 0.3s;
}

.header-link:hover {
  color: white;
  background: hsl(16, 100%, 40%);
}

@media screen and (min-width: 1000px) {
  .logo {
    font-size: 3rem;
    /* margin: unset; */
    margin: 0 0 0 40px;
    align-self: center;
    padding-left: 40px;
    display: flex;
    text-align: unset;
  }
  .header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 60px;
  }

  .header-icons {
    margin-top: 0;
  }

  .header-soc {
    margin-right: 100px;
  }
}
