.subscribe-form {
  top: 420px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  width: 85%;
}

.form-input {
  flex-shrink: 1;
  flex-grow: 1;
  font-weight: 300;
  min-width: 48px;
  border: none;
  padding: 20px 10px;
  font-size: 1.2rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.form-button {
  flex-shrink: 0;
  font-size: 1.2rem;
  font-weight: 500;
  background: orangered;
  color: #fff;
  padding: 20px 10px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 160px;
  transition: all 0.2s;
}

.form-button:hover {
  cursor: pointer;
  background: hsl(16, 100%, 40%);
}

.button-icon {
  display: inline-block;
  margin-left: 10px;
}

@media screen and (min-width: 1000px) {
  .subscribe-form {
    top: 550px;
    width: 600px;
  }
}
